.CustomerBtn{
    position: absolute;
    top: 65%;
    left: 75%;
}
#add{
    font-weight: bold;.

}
.custTable{
    position: absolute;
    top: 15%;
    width: 60%;
}
.custSearchCardHeader{
    background-color: #1E88E5 !important;
}
.customerHead{
    color: black!important;
    background-color: chartreuse !important;


}
.custSearchCard{

    width: 40%;
    height: 20%;
    position: absolute;
    left: 60%;
    top: 15%;
}
.custBtnSet{
    position: absolute;
    top: 100px;
    left: 10px;
}
.custBtnSet2{
    position: absolute;
    top: 430px;
    left: 30px;
}
.custBtn{
    width: 160px;
}
